@import "../variables.scss";

.header {
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100vw;
}

.labels {
    display: inline-block;
    max-width: 160rem;
    list-style: none;
}

