@import "../variables.scss";

.container {
    display: inline-block;
}

.filterChip {
    background-color: rgba(35, 47, 52, .12);
    border-radius: 1.6rem;
    color: rgba(35, 47, 52, .8);
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    height: 3.2rem;
    line-height: 3.2rem;
    margin: 0.3rem;
    padding: 0 1.2rem;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.selected {
        padding-left: 3rem;
    }

    input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        height: 0;
        width: 0;
    }
    
    input:checked~.checkmark:after {
        display: block;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 3.2rem;
        width: 3.2rem;
    }
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        left: 1.4rem;
        top: .8rem;
        height: 1.2rem;
        width: .5rem;
        border: solid rgba(35, 47, 52, .8);
        border-width: 0 .2rem .2rem 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.filterChip:hover {
    background-color: rgba(35, 47, 52, .24);
    color: rgba(35, 47, 52, 1);

    input:checked~.checkmark:after {
        border-color: rgba(35, 47, 52, 1);
    }
}
