@import-normalize;

@import "./variables";

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 62.5%;
  height: 100%;
}

body {
  background: #e2e1e0;
  font-size: $font-size-normal;
  line-height: 130%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

a, a:visited, a:active {
  color: $fg-color;
  text-decoration: none;
}

#root {
  height: 100%;
}
