$font-size-normal: 1.6rem;

$bg-color: #fff;
$fg-color: #000;
$primary-accent-color: #ef4fa6;
$secondary-accent-color: #e5fced;
$link-color: $primary-accent-color;
$warn-color: $primary-accent-color;
