@import "../variables.scss";

.merchItem {
    .attribute {
        border-right: 1px solid $primary-accent-color;

        a {
            color: $fg-color;
            text-decoration: none;
            display: flex;
            padding: 1rem 1rem;

            &.gray {
                color: $gray-color;
            }

            &.lightGray {
                color: $light-gray-color;
            }

            &.warn {
                color: $warn-color;
                font-weight: bold;
            }
        }
    }

    .attribute:first-child {
        border-left: 1px solid $primary-accent-color;
    }
}