@import "../variables.scss";

.merchItems {
    border: none;
    border-spacing: 0;

    .tableHeader {
        font-weight: bold;
        text-align: left;
        word-wrap: none;
    }

    .tableHeaderCell {
        background-color: $primary-accent-color;
        color: $bg-color;
        border-right: 1px solid $primary-accent-color;
        padding: 1rem 1rem;
    }

    tr:nth-child(even) {
        background-color: $secondary-accent-color;
    }

    tr:nth-child(odd) {
        background-color: $bg-color;
    }
    
    tr:hover {
        background-color: #fbe2f0;
    }
}
