@import "../variables.scss";

.merchItem {
    .attribute {
        border-right: 1px solid $primary-accent-color;

        a {
            color: $fg-color;
            text-decoration: none;
            display: flex;
            padding: 1rem 1rem;

            &.warn {
                color: $warn-color;
                font-weight: bold;
            }
        }
    }
}